---
import MainLayout from '../../layouts/main.astro';
import UserProfile from '../../components/UserProfile';
import NavBar from '../../components/NavBar';

const { username } = Astro.params;
---

<MainLayout pageClass="profile-page">
  <div class="min-h-screen bg-background grey-texture">
    <!-- Navigation Banner -->
    <NavBar client:load />

    <!-- Profile Content -->
    <div class="container mx-auto px-4 py-12">
      <UserProfile username={username!} client:load />
    </div>
  </div>
</MainLayout>

<style>
  .container {
    max-width: 1280px;
  }
</style>

