---
const { pageClass = '' } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>TEST MODE</title>
  </head>

  <body>
    <h1>LAYOUT IS WORKING</h1>
    <slot />
  </body>
</html>